allow bluetooth firmware_file:dir { read open search };
allow bluetooth firmware_file:file { read open };
allow bluetooth sysfs:file write;
allow bluetooth bluetooth_efs_file:dir search;
allow bluetooth bluetooth_efs_file:file { read open write };
allow bluetooth bt_hc_worker_proc:file { read write };

type_transition bluetooth bt_hc_worker_proc:file proc;
type_transition bluetooth bluetooth_efs_file:file efs_file;
