typeattribute rmt_storage rmt_placeholder;
type rmt_device, dev_type, file_type;

allow rmt_storage rpmb_device:blk_file { open read };
allow rmt_storage ssd_device:blk_file { open read write };

allow rmt_storage self:capability sys_rawio;

allow rmt_storage kmem_device:chr_file rw_file_perms;
allow rmt_storage cgroup:dir { create add_name };
allow rmt_storage self:capability { net_raw setpcap setuid setgid sys_admin dac_override };
allow rmt_storage self:capability2 block_suspend;
allow rmt_storage self:process execmem;
allow rmt_storage self:socket create_socket_perms;
allow rmt_storage sysfs_wake_lock:file w_file_perms;
allow rmt_storage rmt_device:chr_file rw_file_perms;
allow rmt_storage shell_exec:file rx_file_perms;
allow rmt_storage system_file:file { rx_file_perms execmod };
