# Grant GPU access to system apps (e.g., PowerManagerService)
allow system_app gpu_device:chr_file rw_file_perms;
allow system_app diag_device:chr_file rw_file_perms;
allow system_app wpa_socket:unix_dgram_socket sendto;
allow system_app graphics_device:chr_file rw_file_perms;
allow system_app panel_dev:file rw_file_perms;
allow system_app power_dev:file rw_file_perms;
allow system_app keypad_dev:file rw_file_perms;
allow system_app shell_data_file:dir search;
allow system_app sysfs_calibration:dir search;
allow system_app sysfs_bln:dir search;
allow system_app sysfs_bln:file rw_file_perms;
allow system_app sysfs_bln:lnk_file read;
