type_transition wpa system_data_file:file wifi_data_file;

allow wpa devpts:chr_file rw_file_perms;
allow wpa init:unix_dgram_socket { read write };
allow wpa efs_file:dir search;
allow wpa efs_file:file r_file_perms;
allow wpa wifi_efs_file:file r_file_perms;
allow wpa rfkill_device:chr_file rw_file_perms;
allow wpa system_data_file:dir { search add_name write };
allow wpa wifi_data_file:file { open write };
allow wpa wpa_socket:unix_dgram_socket { read write };