[project]
	description = device_samsung_msm8660-common
[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	label-Code-Review = -2..+1 group slim_celox
	label-Code-Review = -2..+1 group slim_quincy
	label-Verified = -1..+1 group slim_celox
	label-Verified = -1..+1 group slim_quincy
	submit = group slim_celox
	submit = group slim_quincy
